body {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
}

.hamburger-menu {
    display: none;
}

a {
    text-decoration: none;
}

.header-container {
    width: 1200px;
    display: flex;
    margin: 30px 0;
}

.header-flex {
    width: 600px;
}

#logo {
    width: 186px;
    height: 60px;
    left: 0px;
    top: 0px;
}

.left-header-flex-logo {
    height: 35px;
}

#cozy-logo {
    width: 186px;
    left: 0px;
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;

    letter-spacing: 0.06em;

    color: #545454;
}

#cozy-description {
    width: 182px;
    margin: 0;
    margin-top: 10px;
    margin-left: 4px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;

    letter-spacing: 0.1em;

    color: #545454;
}

.left-header-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#nav-menu ul {
    float: right;
    height: 60px;
    margin: 0;
}

#nav-menu li {
    display: inline;
    width: 60px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #545454;
    margin-left: 32px;
}

#nav-menu li a {
    line-height: 60px;
    color: #545454;
}

#nav-menu li a:hover {
    color: #292929;
    cursor: pointer;
}

#pets {
    color: #292929;
    padding-bottom: 3px;
    border-bottom: 3px solid #F1CDB3;
}

.pets {
    width: 100%;
    display: flex;
    justify-content: center;

    background: #F6F6F6;
}

.pets-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 80px 40px 100px;

    width: 1200px;
}

.pets-content h3 {
    width: 400px;
    margin: 0px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;

    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #545454;
}
.content-head {
    display: inline-block;
    width: 400px;
    height: 90px;
    text-align: center;
}

.slider-pets {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;

    margin: 45px 0px;
}

.card-pets {
    width: 270px;
    height: 435px;
    margin: 15px 20px 25px 20px;

    background: #FAFAFA;
    border-radius: 9px;
    text-align: center;
}

.card-pets:hover {
    background: #F1CDB3;
    outline: 3px solid #F1CDB3;
    cursor: pointer;
}

.card-pets.first {
    margin-left: 0px;
}

.card-pets.last {
    margin-right: 0px;
}

.card-pets.second-row {
    margin-top: 0px;
    margin-bottom: 15px;
}

.card-pets p {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    
    text-align: center;
    letter-spacing: 0.06em;
    margin: 25px 98px;
    margin-bottom: 30px;

    color: #545454;
}

#learn-more {
    padding: 15px 45px;

    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background: #FAFAFA;

    margin: 0px 0px;
    margin-bottom: 32px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;

    letter-spacing: 0.06em;

    color: #292929;
}

.card-pets:hover #learn-more {
    border: 2px solid #FAFAFA;
    background: #F1CDB3;
    cursor: pointer;
}

#learn-more:hover {
    color: #FAFAFA;
}

.pet-navigation {
    display: flex;
    justify-content: center;
}

.slide {
    margin: 0 10px;
    width: 52px;
    height: 52px;
    background: #F1CDB3;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;

    align-items: center;
    text-align: center;

    color: #292929;
}

.slide.next {
    background: none;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
}

.slide.next:hover {
    background: #F1CDB3;;
    border: 2px solid #FAFAFA;
    cursor: pointer;
}

.slide.stop {
    background: none;
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 100px;
    color: #CDCDCD;
    pointer-events: none;
    cursor: default;
}

footer {
    display: flex;
    justify-content: center;
    background: url("../../assets/images/footer-background.png") no-repeat;
    background-size: cover;
    padding: 40px;
    padding-bottom: 0px;
}

.footer-content {
    display: flex;
    width: 1200px;
    margin-bottom: 0px;
}

.footer-content h3{
    width: 279px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;

    letter-spacing: 0.06em;
    margin: 0px;

    color: #FFFFFF;
}

.footer-content a {
    display: flex;
    justify-content: center;
    
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;

    letter-spacing: 0.06em;

    color: #F1CDB3;
}

.footer-content img {
    margin-right: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.info-text {
    display: flex;
    margin-top: 40px;
    align-items: center;
    height: 32px;
}

.location {
    width: 302px;
}

#footer-puppy {
    margin: 0;
    padding-left: 20px;
}

.background-popup {
    position:fixed;
    left:0;
    top: 0;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(13, 13, 13, 0.4);
}

.popup-closed {
    visibility: hidden;
}

.popup-open {
    visibility: visible;
}

.popup {
    display: flex;
    height: 500px;
    width: 900px;
    background: #FAFAFA;
    border-radius: 9px;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.close-popup {
    font-size: 30px;
    align-self: flex-end;
    margin: 0;
    margin-right: 150px;
    background-color: rgba(13, 13, 13, 0.04);
}

#img-popup {
    width: 500px;
    height: 500px;
    border-radius: 9px 0px 0px 9px;
}

.popup-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    width: 351px;
    height: 362px;
}

#name-pet {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: left;
    letter-spacing: 0.06em;

    color: #000000;
}

#breed-pet {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    text-align: left;
    margin: 10px 0;
    letter-spacing: 0.06em;

    color: #000000;
}

#info-pet {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    text-align: left;
    margin: 0;
    margin-top: 30px;
    letter-spacing: 0.06em;

    color: #000000;
}

.pet-list {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    padding-left: 15px;
    margin: 0;
    margin-top: 40px;
    letter-spacing: 0.06em;

    color: #000000;
}

.pet-list li {
    margin-bottom: 10px;
}

.pet-list li::marker {
    color: #F1CDB3;
}

/* --Width 768px-- */

@media screen and (max-width: 1270px) {
    .header-container {
        width: 768px;
        justify-content: center;
    }

    #nav-menu ul{
        margin-left: 7px;
    }

    .header-flex {
        width: auto;
    }

    .pets-content{
        margin-bottom: 76px;
    }

    .slider-pets {
        width: 708px;
        margin-top: 30px;
        margin-bottom: 25px;
    }

    .card-pets {
        margin: 0;
        margin-bottom: 30px;
        margin-left: 40px;
    }

    .card-pets.last {
        margin-right: 40px;
    }

    .delete {
        display: none;
    }

    footer {
        padding-top: 30px;
    }

    .footer-content {
        justify-content: center;
        width: 708px;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .info {
        flex-direction: column;
        width: 320px;
        margin-top: 0px;
        padding-left: 19px;
    }

    .location {
        width: 307px;
    }

    #footer-puppy {
        margin-top: 65px;
        padding-left: 0;
    }

    .popup {
        height: 350px;
        width: 630px;
    }

    #img-popup {
        width: 350px;
        height: 350px;
    }

    .popup-info{
        width: 260px;
        height: 303px;
        margin-top: 20px;
        margin-left: 10px;
    }

    .pet-list {
        margin-top: 20px;
    }

    #info-pet {
        margin-top: 10px;
        font-size: 13px;
    }

    .close-popup {
        margin: 0;
        margin-right: 35px;
    }

    .pet-list li {
        margin-bottom: 5px;
    }

}

/* --Width 320px-- */

@media screen and (max-width: 758px) {
    header {
        justify-content: flex-start;
    }

    .header-container {
        width: 100%;
        justify-content: flex-start;
        margin-left: 10px;
    }

    .right-header-flex {
        display: none;
    }

    .left-header-flex {
        width: 95%;
    }

    .hamburger-background {
        position:fixed;
        left:0;
        top: 0;
        width:100%;
        height:100%;
        display: flex;
        flex-direction: column;
        padding-top: 29px;
        align-items: flex-end;
        z-index: 2;
        background-color: rgba(13, 13, 13, 0.4);
    }

    .hamburger-menu {
        display: flex;
        align-items: center;
        margin-right: 55px;
        margin-top: 20px;
    }

    #menu__toggle {
        opacity: 0;
        width: 30px;
        height: 22px;
    }

    .menu-button {
        display: flex;
        align-items: center;
        position: absolute;
        width: 30px;
        height: 22px;
        cursor: pointer;
        z-index: 1;
    }
    
    #burger,
    #burger::before,
    #burger::after {
        display: block;
        position: absolute;
        width: 30px;
        height: 3px;
        outline: 1px solid #FAFAFA;
        background-color: #000000;
        transition-duration: .25s;
    }
    #burger::before {
        content: '';
        top: -10px;
    }
    #burger::after {
        content: '';
        top: 10px;
    }

    .menu-box {
        visibility: hidden;
        position: fixed;
        right: 0;
        top: 0;
        width: 320px;
        height: 100%;
        margin: 0;
        padding: 250px 0;
        list-style: none;
        text-align: center;
        background-color: #292929;
    }

    .menu-box li {
        margin-bottom: 40px;
    }

    .menu-item {
        display: inline;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 160%;

        color: #FAFAFA;
    }

    .menu-item:hover {
        color: #FAFAFA;
        cursor: pointer;
    }

    .burger-rotate {
        transform: rotate(90deg);
    }

    @keyframes slide-in {
        from {right: -320px;
            visibility: hidden;}
        to {right: 0;
            visibility: visible;}
    }

    @keyframes slide-out {
        from {right: 0;
            visibility: visible;
        }
        to {right: -320px;
            visibility: hidden;}
    }

    .close {
        display: block;
        animation-name: slide-out;
        animation-duration: .25s;
        visibility: hidden;

    }
    
    .open {
        display: block;
        animation-name: slide-in;
        animation-duration: .25s;
        visibility: visible;
    }

    #pets {
        color: #FAFAFA;
        padding-bottom: 3px;
        border-bottom: 3px solid #F1CDB3;
    }

    .pets-content {
        margin: 42px 30px 52px;
        width: 300px;
    }

    .pets-content h3 {
        width: 300px;
        font-size: 25px;
    }

    .content-head {
        width: 300px;
    }

    .slider-pets {
        width: 300px;
        margin-top: 15px;
    }

    .card-pets {
        margin-left: 0px;
    }

    .second-row, .last {
        display: none;
    }

    .slide {
        margin: -11px 5px;
    }

    footer {
        padding-top: 30px;
   }

   .footer-content {
       width: 300px;
   }

   .info {
       justify-content: center;
       margin-bottom: 40px;
       padding-left: 0;
   }

   .footer-content h3 {
       text-align: center;
       width: 235px;
       font-size: 25px;
       margin-right: 0;
       margin-left: 32px;
   }

   .contacts {
       margin-left: 25px;
   }

   .location {
       margin-top: 45px;
   }

   #footer-puppy {
       width: 260px;
       margin: 0;
   }

   .popup {
        width: 240px;
        height: auto;;
        justify-content: center;
    }

    #img-popup {
        display: none;
    }

    .popup-info{
        width: 220px;
        height: auto;
        margin: 10px;
    }

    #name-pet {
        text-align: center;
        width: auto;
    }

    #breed-pet {
        text-align: center;

    }

    #info-pet {
        text-align: justify;
    }

    .pet-list {
        margin-top: 24px;
    }

    .close-popup {
        margin: 0;
        margin-right: 5px;
    }

    .popup {
        width: 240px;
        height: auto;;
        justify-content: center;
    }

    #img-popup {
        display: none;
    }

    .popup-info{
        width: 220px;
        height: auto;
        margin: 10px;
    }

    #name-pet {
        text-align: center;
        width: auto;
    }

    #breed-pet {
        text-align: center;

    }

    #info-pet {
        text-align: justify;
    }

    .pet-list {
        margin-top: 24px;
    }

    .close-popup {
        margin: 0;
        margin-right: 5px;
    }
}