body {
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0px;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

.header-container {
    width: 1200px;
    display: flex;
    margin: 30px 0;
}

.header-flex {
    width: 600px;
}

#logo {
    width: 186px;
    height: 60px;
    left: 0px;
    top: 0px;
}

.left-header-flex-logo {
    height: 35px;
}

#cozy-logo {
    width: 186px;
    left: 0px;
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;

    letter-spacing: 0.06em;

    color: #545454;
}

#cozy-description {
    width: 182px;
    margin: 0;
    margin-top: 10px;
    margin-left: 4px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;

    letter-spacing: 0.1em;

    color: #545454;
}

.left-header-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#nav-menu ul {
    float: right;
    height: 60px;
    margin: 0;
}

#nav-menu li {
    display: inline;
    width: 60px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #545454;
    margin-left: 32px;
}

#nav-menu li a {
    line-height: 60px;
    color: #545454;
}

#nav-menu li a:hover {
    color: #292929;
    cursor: pointer;
}

#pets {
    color: #292929;
    padding-bottom: 3px;
    border-bottom: 3px solid #F1CDB3;
}

.pets {
    width: 100%;
    display: flex;
    justify-content: center;

    background: #F6F6F6;
}

.pets-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 80px 40px 100px;

    width: 1200px;
}

.pets-content h3 {
    width: 400px;
    margin: 0px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;

    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #545454;
}
.content-head {
    display: inline-block;
    width: 400px;
    height: 90px;
    text-align: center;
}

.slider-pets {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1200px;

    margin: 45px 0px;
}

.card-pets {
    width: 270px;
    height: 435px;
    margin: 15px 20px 25px 20px;

    background: #FAFAFA;
    border-radius: 9px;
    text-align: center;
}

.card-pets:hover {
    background: #F1CDB3;
    outline: 3px solid #F1CDB3;
    cursor: pointer;
}

.card-pets.first {
    margin-left: 0px;
}

.card-pets.last {
    margin-right: 0px;
}

.card-pets.second-row {
    margin-top: 0px;
    margin-bottom: 15px;
}

.card-pets p {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    
    text-align: center;
    letter-spacing: 0.06em;
    margin: 25px 98px;
    margin-bottom: 30px;

    color: #545454;
}

#learn-more {
    padding: 15px 45px;

    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background: #FAFAFA;

    margin: 0px 0px;
    margin-bottom: 32px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;

    letter-spacing: 0.06em;

    color: #292929;
}

.card-pets:hover #learn-more {
    border: 2px solid #FAFAFA;
    background: #F1CDB3;
    cursor: pointer;
}

#learn-more:hover {
    color: #FAFAFA;
}

.pet-navigation {
    display: flex;
    justify-content: center;
}

.slide {
    margin: 0 10px;
    width: 52px;
    height: 52px;
    background: #F1CDB3;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;

    align-items: center;
    text-align: center;

    color: #292929;
}

.slide.back {
    background: none;
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 100px;
    color: #CDCDCD;
}

.slide.next {
    background: none;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
}

.slide.next:hover {
    background: #F1CDB3;;
    border: 2px solid #FAFAFA;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    background: url("../../assets/images/footer-background.png") no-repeat;
    background-size: cover;
    padding: 40px;
    padding-bottom: 0px;
}

.footer-content {
    display: flex;
    width: 1200px;
    margin-bottom: 0px;
}

.footer-content h3{
    width: 279px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;

    letter-spacing: 0.06em;
    margin: 0px;

    color: #FFFFFF;
}

.footer-content a {
    display: flex;
    justify-content: center;
    
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;

    letter-spacing: 0.06em;

    color: #F1CDB3;
}

.footer-content img {
    margin-right: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.info-text {
    display: flex;
    margin-top: 40px;
    align-items: center;
    height: 32px;
}

.location {
    width: 302px;
}

#footer-puppy {
    margin: 0;
    padding-left: 20px;
}

/* --Width 768px-- */

@media screen and (max-width: 1270px) {
    .header-container {
        width: 768px;
        justify-content: center;
    }

    #nav-menu ul{
        margin-left: 7px;
    }

    .header-flex {
        width: auto;
    }

    .pets-content{
        margin-bottom: 76px;
    }

    .slider-pets {
        width: 708px;
        margin-top: 30px;
        margin-bottom: 25px;
    }

    .card-pets {
        margin: 0;
        margin-bottom: 30px;
        margin-left: 40px;
    }

    .card-pets.last {
        margin-right: 40px;
    }

    .delete {
        display: none;
    }

    footer {
        padding-top: 30px;
    }

    .footer-content {
        justify-content: center;
        width: 708px;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .info {
        flex-direction: column;
        width: 320px;
        margin-top: 0px;
        padding-left: 19px;
    }

    .location {
        width: 307px;
    }

    #footer-puppy {
        margin-top: 65px;
        padding-left: 0;
    }

}

/* --Width 320px-- */

@media screen and (max-width: 758px) {
    header {
        justify-content: flex-start;
    }

    .header-container {
        width: 257px;
        justify-content: flex-start;
        margin-left: 10px;
    }

    .pets-content {
        margin: 42px 30px 52px;
        width: 300px;
    }
    .pets-content h3 {
        font-size: 25px;
    }

    .slider-pets {
        width: 300px;
        margin-top: 15px;
    }

    .card-pets {
        margin-left: 0px;
    }

    .second-row, .last {
        display: none;
    }

    .slide {
        margin: -11px 5px;
    }

    .right-header-flex {
        display: none;
    }

    footer {
        padding-top: 30px;
   }

   .footer-content {
       width: 300px;
   }

   .info {
       justify-content: center;
       margin-bottom: 40px;
       padding-left: 0;
   }

   .footer-content h3 {
       text-align: center;
       width: 235px;
       font-size: 25px;
       margin-right: 0;
       margin-left: 32px;
   }

   .contacts {
       margin-left: 25px;
   }

   .location {
       margin-top: 45px;
   }

   #footer-puppy {
       width: 260px;
       margin: 0;
   }
}