body {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    width: 1200px;
    display: flex;
    height: 60px;
    left: calc(50% - 1200px/2);
    top: 60px;
    z-index: 1;
}

a {
    text-decoration: none;
}

.header-flex {
    width: 600px;
    position: relative;
}

#logo {
    width: 186px;
    height: 60px;
    left: 0px;
    top: 0px;
}

.left-header-flex-logo {
    height: 35px;
}

#cozy-logo {
    width: 186px;
    left: 0px;
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;

    letter-spacing: 0.06em;

    color: #F1CDB3;
}

#cozy-description {
    width: 182px;
    margin: 0;
    margin-top: 10px;
    margin-left: 4px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;

    letter-spacing: 0.1em;

    color: #FFFFFF;
}

.right-header-flex {
    color: white;
}

.left-header-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#nav-menu ul {
    float: right;
    height: 60px;
    margin: 0;
}

#nav-menu li {
    display: inline;
    width: 60px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #CDCDCD;
    margin-left: 32px;
}

#nav-menu li a:hover {
    color: #FAFAFA;
    cursor: pointer;
}

#nav-menu li a {
    line-height: 60px;
    color: #CDCDCD;
}

#about-shelter {
    color: #FAFAFA;
    padding-bottom: 3px;
    border-bottom: 3px solid #F1CDB3;
}


#start-screen {
    background: url("../../assets/images/start-screen-background.png") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#start-content {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 180px;
    width: 1200px;
}

.start-screen-text {
    display: inline-block;
    margin-top: 170px;
    width: 460px;
    height: 360px;
    text-align: left;

}

.start-screen-text h2 {
    width: 310px;
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    color: #FFFFFF;
    line-height: 52px;
}

.start-screen-text p {
    width: 460px;
    color: #CDCDCD;
    margin: 0;
    margin: 42px 0;
    line-height: 24px;
}

#subheading {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

#make-friend {
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
}

#make-friend:hover {
    background: #FAFAFA;
    cursor: pointer;
}

#start-puppy {
    width: 698px;
    height: 728px;
    margin-left: 42px;
    bottom: 0px;
}

.about {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-content {
    display: flex;
    width: 1200px; 
    margin-top: 80px;
    margin-bottom: 100px;
}

.about-content img {
    margin-left: 175px;
}

.about-content-text {
    margin: 14px 0;
    margin-left: 120px;
    width: 430px;
}

.about-content-text h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    color: #545454;

    margin: 0;
    margin-right: 60px;
}

.about-content-text p {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;

    display: flex;
    align-items: center;

    color: #4C4C4C;

    margin: 0px;
    margin-top: 25px;
}

.pets {
    width: 100%;
    display: flex;
    justify-content: center;

    background: #F6F6F6;
}

.pets-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 1200px; 
    margin-top: 80px;
    margin-bottom: 100px;
}

.pets-content h3 {
    width: 400px;
    margin: 0px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;

    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #545454;
}

.content-head {
    display: inline-block;
    width: 400px;
    height: 90px;
    text-align: center;
}

.slider-pets {
    display: flex;
    justify-content: center;

    width: 1200px;
    margin: 55px 0px;
}

.card-pets {
    width: 270px;
    margin: 0px 45px;

    background: #FAFAFA;
    border-radius: 9px;
    text-align: center;
}

.card-pets:hover {
    background: #F1CDB3;
    outline: 3px solid #F1CDB3;
    cursor: pointer;
}

.card-pets p {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    
    text-align: center;
    letter-spacing: 0.06em;
    margin: 30px 98px;

    color: #545454;
}

#learn-more {
    padding: 15px 45px;

    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background: #FAFAFA;

    margin: 0px 0px;
    margin-bottom: 30px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;

    letter-spacing: 0.06em;

    color: #292929;
}

.card-pets:hover #learn-more {
    border: 2px solid #FAFAFA;
    background: #F1CDB3;
    cursor: pointer;
}

#learn-more:hover {
    color: #FAFAFA;
}

#arrow {
    width: 52px;
    height: 52px;

    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin: 195px 5px;

    font-family: 'Georgia';
    font-size: 17px;

    color: #292929;
}

#arrow:hover {
    background: #F1CDB3;
    border: 2px solid #F6F6F6;
    cursor: pointer;
}

#know-rest {
    width: 261px;
    height: 52px;

    background: #F1CDB3;
    border-radius: 100px;
    border: 2px solid #F1CDB3;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;

    letter-spacing: 0.06em;

    color: #292929;
}

#know-rest:hover {
    background: #FAFAFA;
    cursor: pointer;
}

.help {
    width: 100%;
    display: flex;
    justify-content: center;

}

.help-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 1200px; 
    margin-top: 80px;
    margin-bottom: 40px;
}

.help-content h3 {
    width: 350px;
    margin: 0px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: #545454;
}

.list-help {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: 60px 85px;
}

.list-item {
    text-align: center;
    margin: 0px 60px;
    margin-bottom: 50px;
}

.first, .sixth {
    margin-left: 0px;
}

.fifth, .ninth {
    margin-right: 0px;
}

.second-row {
    margin-bottom: 0px;
}

.list-help h4 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;

    text-align: center;
    letter-spacing: 0.06em;

    color: #545454;

    margin: 0px;
    margin-top: 30px;
}

.donation {
    width: 100%;
    display: flex;
    justify-content: center;

    background: #F6F6F6;
}

.donation-content {
    display: flex;
    margin-top: 75px;
    margin-bottom: 90px;
}

.donation-content img {
    margin: 15px 0px;
}

.donation-content-text {
    margin-top: 5px;
    margin-left: 30px;
    width: 380px;
}

.donation-content-text h3{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    color: #545454;
    margin: 0px;
    margin-bottom: 20px;
    margin-right: 80px;
}

.donation-content-text h5 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    color: #545454;
    margin: 0px;
    margin-bottom: 15px;
}

.donation-content-text p{
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    margin-top: 20px;
    line-height: 18px;

    display: flex;
    align-items: center;

    color: #B2B2B2;
}

#credit-card {
    display: flex;
    align-items: center;
    
    justify-content: center;

    width: 349px;
    height: 43px;

    background: #F1CDB3;
    border-radius: 9px;
}

#credit-card img {
    margin: 0px;
}

#credit-card p {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;

    margin-left: 15px;
    letter-spacing: 0.06em;

    color: #545454;
}

#credit-card:hover {
    background: #F6F6F6;
    outline: 2px solid #F1CDB3 ;
}

#credit-card a {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    background: url("../../assets/images/footer-background.png") no-repeat;
    background-size: cover;
    padding: 40px;
    padding-bottom: 0px;
}

.footer-content {
    display: flex;
    width: 1200px;
    margin-bottom: 0px;
}

.footer-content h3{
    width: 279px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;

    letter-spacing: 0.06em;
    margin: 0px;

    color: #FFFFFF;
}

.footer-content a {
    display: flex;
    justify-content: center;
    
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;

    letter-spacing: 0.06em;

    color: #F1CDB3;
}

.footer-content img {
    margin-right: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.info-text {
    display: flex;
    margin-top: 40px;
    align-items: center;
    height: 32px;
}

.location {
    width: 302px;
}

#footer-puppy {
    margin: 0;
    padding-left: 20px;
}

/* --Width 768px-- */

@media screen and (max-width: 1270px) {
    header {
        top: 30px;
        left: calc(50% - 708px/2);
        width: 715px;
    }

    #nav-menu ul{
        margin-left: 7px;
    }

    .header-flex {
        width: auto;
    }

    #start-content {
        flex-wrap: wrap;
        margin: 155px 100px 0;
        width: 569px;
    }

    .start-screen-text {
        align-items: center;
        margin: 0 55px;
    }

    #start-puppy {
        width: 569px;
        height: 593px;
        margin-top: 57px;
        margin-left: 140px;
    }

    .start-screen-text p {
        margin: 47px 0 40px;
    }

    .button-make-friend {
        text-align: center;
    }

    .about-content {
        flex-wrap: wrap-reverse;
        margin: 80px 165px 100px;
        width: 437px;
    }

    .about-content-text {
        margin: auto;
    }

    .about-content-text p {
        margin-top: 24px;
    }

    .about-content img {
        margin: auto;
        margin-top: 82px;
    }

    .pets-content {
        margin: 79px 30px 100px;
        width: 708px;
    }

    .slider-pets {
        width: 708px;
    }

    .last-slide {
        display: none;
    }

    .card-pets {
        margin: 0 20px;
    }

    #arrow {
        margin: 195px -9px;
    }

    .help-content {
        margin: 82px 69px 40px;
        width: 630px;
    }

    .list-help {
        margin: 60px 0;
        width: 630px;
    }

    .list-item {
        margin: 0 30px 55px;
        width: 170px;
        height: 113px;
    }

    .first, .fourth, .seventh {
        margin-left: 0px;
    }
    
    .third, .sixth, .ninth {
        margin-right: 0px;
    }
    
    .second-row {
        margin-bottom: 0px;
    }

    .donation-content {
        flex-wrap: wrap-reverse;
        justify-content: center;
        width: 380px;
        margin-bottom: 50px;
        margin-top: 80px;
    }

    .list-help h4 {
        margin-top: 25px;
    }

    .donation-content-text {
        margin: 0;
    }

    .donation-content-text h5 {
        margin-bottom: 17px;
    }

    .donation-content img {
        margin: 50px 0px;
    }

    footer {
        padding-top: 30px;
    }

    .footer-content {
        justify-content: center;
        width: 708px;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .info {
        flex-direction: column;
        width: 320px;
        margin-top: 0px;
        padding-left: 19px;
    }

    .location {
        width: 307px;
    }

    #footer-puppy {
        margin-top: 65px;
        padding-left: 0;
    }
}

/* --Width 320px-- */

@media screen and (max-width: 758px) {
    header {
        left: calc(50% - 257px/2 - 21.5px);
        width: 257px;
    }

    .right-header-flex {
        display: none;
    }

    #start-content {
        margin: 150px 100px 0;
        width: 300px;
    }

    .start-screen-text {
        width: 300px;
        align-items: center;
        margin: 0;
        text-align: center;
    }

    .start-screen-text h2 {
        width: 250px;
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
        margin-left: 25px;
    }

    .start-screen-text p {
        width: 100%;
        margin: 42px 0 40px;
    }

    #start-puppy {
        width: 260px;
        height: 270px;
        margin-left: 40px;
        margin-top: 40px;
    }

    .about-content {
        margin: 45px 165px 40px;
        width: 300px;
    }

    .about-content-text {
        width: 300px;
        align-items: center;
        margin: 0;
        text-align: center;
    }

    .about-content-text h3 {
        width: 250px;
        font-size: 25px;
        margin: 0;
        margin-left: 25px;
    }

    .about-content-text p {
        width: 270px;
        text-align: justify;
        margin-left: 15px;
    }

    .about-content img {
        width: 260px;
        margin: auto;
        margin-top: 40px;
    }

    .pets-content {
        margin: 42px 30px 46px;
        width: 300px;
    }
    .pets-content h3 {
        font-size: 25px;
    }

    .slider-pets {
        margin: 0;
        margin-top: 17px;
        width: 300px;
    }

    .card-pets{
        height: 435px;
    }

    .card-pets p {
        margin: 28px 98px;
    }

    .delete {
        display: none;
    }

    #arrow {
        margin: 0 -116px;
        margin-top: 455px;
    }

    #know-rest {
        margin-top: 40px;
    }

    .help-content {
        width: 300px;
        margin: 40px 69px -15px;
    }

    .help-content h3 {
        font-size: 25px;
        width: 225px;
    }

    .list-help {
        width: 300px;
        margin-top: 25px;
        margin-left: 10px;
        justify-content: flex-start;
    }

    .list-item {
        margin: 15px;
        width: 130px;
        height: 87px;
    }

    .first, .third, .fifth, .seventh, .ninth {
        margin-left: 0px;
    }
    
    .second, .fourth, .sixth, .eighth {
        margin-right: 0px;
    }
    
    .ninth {
        margin-bottom: 0px;
    }

    .list-item h4 {
        font-size: 15px;
        margin-top: 17px;
    }

    .list-item img {
        width: 50px;
        height: 50px;
    }

    .donation-content {
        width: 300px;
        margin-top: 40px;
        margin-bottom: 42px;
    }

    .donation-content-text {
        width: 300px;
        align-items: center;
        text-align: center;
    }

    .donation-content-text h3 {
        text-align: center;
        width: 220px;
        font-size: 25px;
        margin-right: 0;
        margin-left: 40px;
    }

    .donation-content-text h5 {
        line-height: 160%;
        letter-spacing: 0;
        margin-left: 12px;
        margin-bottom: 20px;
    }

    #credit-card {
        width: 281px;
        margin-left: 10px;
    }

    .donation-content-text p {
        text-align: justify;
        width: 281px;
        margin-left: 10px;
    }

    #credit-card p {
        font-size: 15px;
        width: 206px;
    }

    #dog-donat {
        width: 260px;
        margin: 0;
        margin-top: 30px;
    }

    footer {
         padding-top: 30px;
    }

    .footer-content {
        width: 300px;
    }

    .info {
        justify-content: center;
        margin-bottom: 40px;
        padding-left: 0;
    }

    .footer-content h3 {
        text-align: center;
        width: 235px;
        font-size: 25px;
        margin-right: 0;
        margin-left: 32px;
    }

    .contacts {
        margin-left: 25px;
    }

    .location {
        margin-top: 45px;
    }

    #footer-puppy {
        width: 260px;
        margin: 0;
    }

}